.onoffswitch {
  position: relative; width: 120px;
  display: inline-block;
}
.onoffswitch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid white; border-radius: 20px;
}
.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
  font-size: 8px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "POWER SAVING ON";
  padding-left: 10px;
  background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
  content: "POWER SAVING OFF";
  padding-right: 10px;
  background-color: #EEEEEE; color: #999999;
  text-align: right;
}
.onoffswitch-switch {
  display: block; width: 10px; margin: 10px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 87px;
  border: 2px solid #999999; border-radius: 20px;
  transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px; 
}

#current-usage {
  position: absolute;
  margin: 1em auto;
  width: 2em;
  height: 2em;
  background-color: orange;
  left: calc((80% - 20em) / 2);
  top: calc((65% - 15em) / 2);
}

#current-usage.low-usage {
  background-color: green;
}

#current-usage.medium-usage {
  background-color: orange;
}

#current-usage.high-usage {
  background-color: red;
}

.bigbox {
  border: 1px solid green ;
}

.outer-box {
  text-align: justify;
  position: relative;
  margin: 1em auto;
  width: 40em;
  height: 30em;
  border: solid 1px black;
  background: silver;
  z-index: 1;
}


.inner-box {
  text-align: center;
  position: absolute;
  left: calc((75% - 20em) / 2);
  top: calc((90% - 15em) / 2);
  width: 30em;
  height: 17em;
  border: solid 1px black;
  background:black;
  color: white
}

#temperature-up {

  width: 5%;
  margin-left:80%;
  margin-right:0%;
  position: absolute;
  bottom: 50px;

}

#temperature-down {

  width: 5%;
  margin-left:70%;
  margin-right:0%;
  position: absolute;
  bottom: 50px;

}

#temperature-reset {

  width: 10%;
  margin-left:40%;
  margin-right:0%;
  position: absolute;
  bottom: 50px;

}

#current-city{

  width: 12%;
  margin-left:5%;
  margin-right:0%;
  position: absolute;
  bottom: 50px;

}

.onoffswitch {
  margin-left:80%;
  margin-right:0%;
  position: absolute;
  top: 20px;
}

#temperature {
  margin-left:35%;
  margin-right:0%;
  position: absolute;
  top: 5px;
}

#outside-temperature {
  color: white
}

#current-temperature {
  color: white
}

